<h4>This is slider section</h4>

<h5>{{section.settings.heading_title | escape }}</h5>
{% schema %}
{
"name": "Collection Slider",
"settings": [
    {
       "type": "text",
       "label": "Heading",
       "id": "heading_title"
    }
  ],
  "presets": [
    {
      "name": "Custom Slider"
    }
  ]
}
{% endschema %}