slideshow-component .slideshow.banner {
    min-height: initial;
}
.banner__media {
    position: relative;
}
.slideshow__slide {
    flex-direction: row-reverse;
    align-items: center;
}
.slideshow__text-wrapper.banner__content {
    padding: 0;
}

@media screen and (min-width: 750px){
    .slideshow__text-wrapper.banner__content {
        height: initial;
        padding: 0;
    }
    .banner__media {
        height: initial;
    }
}