.image-slider ul {
    display: flex;
    justify-content: space-around;
  }
  
  .image-slider ul li {
    margin: 10px;
    list-style: none;
    max-height: 500px;
    height: 100%;
    overflow: hidden;
  }
  .image-slider ul li img {
    object-fit: cover;
  }