.product-slider .card__inner.color-background-2 {
    background: transparent;
}
.product-slider .card__inner.color-background-2 .card__media{
    width: 100%;
}
.product-slider .card__inner.color-background-2 .card__media .media{
    height: 100%;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot.owl-nav {
    position: absolute;
    right: -23px;
    top: 50%;
    background-color: #000000 !important;
    display: block ;
    padding: 0 .3em !important;
    font-size: 3em ;
    margin: 0;
    cursor: pointer;
    color: #fff;
    transform: translate(-50%, -50%);
}