.custom-image-carousel-section .slider__slide {
    width: 50%;
    margin: auto;
}
slideshow-component .slideshow.banner {
    min-height: initial;
}
.banner__media {
    position: relative;
    min-height: 350px;
    overflow: hidden;
}
.banner__media img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.slideshow__slide {
    flex-direction: row-reverse;
    align-items: center;
}
.slideshow__text-wrapper.banner__content {
    padding: 0;
}

@media screen and (min-width: 750px){
    .slideshow__text-wrapper.banner__content {
        height: initial;
        padding: 0;
    }
    .banner__media {
        height: initial;
    }
}